.acerca {
    padding: 18px;
    flex-basis: 50%;
}

.TituloCar{
    margin: 5px 5px 5px 0px;
}


progress[value]::-webkit-progress-bar {
    background-color: #c2d2e9;
}


progress[value]::-webkit-progress-value {
    background-color: #3a4e7a;
}

.info{
    font-weight: 600;
}

.Titulo2{
    margin: 5px 5px 5px 0px;
}

.Titulo{
    padding: 5px 5px 5px 0px;
    
}