header {
    background-image: url('header.png');
    background-repeat: no-repeat;
    display: flex;
    padding: 30px;
}

.foto {
    flex-basis: 40%;
    text-align: center;
    min-width: 200px;
}

.foto img{
    max-width: 250px;
    border-radius: 50%;
    border: 5px solid white;
    
}

.titulonom{
    color: #b3d0ec;
    
}

 h4{
    color: #01080f;
     font-weight: bold;
}

.texto{
    flex-basis: 60%;
    min-width: 250px;
}

.cabecera {
    display: flex;
    flex-wrap: wrap;
}

