@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

*{
  margin:0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Source Sans Pro', sans-serif;

}

h1{
  color: #091d36;
}

h2{
  color: #091d36;
  margin: 5px 5px 5px 0px; 
}
.container{
  max-width: 800px;
  margin: 0 auto;
}

#informacion {
  display: flex;
  flex-direction: row;
}

.contact{
  min-width: 100px;
}

.acerc{
  min-width: 100px;
}

.footar{
  min-width: 100px;
}